.corTitulo{
  color: #c1936b;
}

.fontSizeTitulo{
  font-size: large;
}

.fontSizeRodape{
  font-size: smaller;
}

.ajustesBotao{
  background-color: #f3e8de;
  color: #c1936b;
  margin: 0 auto;
  display: block;
}

.centralizarTexto{
  text-align: center;
}

.cardCentral{
  max-width: 400px;
  margin: auto;
  width: 60%;
  margin-top: 1%;
}

.largura100{
  width: 100%;
}

.largura50{
  width: 50%;
}

.marginTop5{
  margin-top: 5%;
}

.spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #c1936b;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #c4a788 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #c4a788 !important;
}
